@model List<Note>

<div class="text-end">
    <a class="text-center" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
</div>
<h1 class="text-center">Заметки пользователя</h1>
<div class="text-start p-2">
    <a class="btn btn-primary" asp-action="Create">+</a>
</div>
@foreach (var note in Model)
{
    <div class="row p-1">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@note.Head</h5>
                    <p class="card-text">@note.Text</p>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@note.Id">Просмотреть</a>
                    <a class="btn btn-primary" asp-action="EditNote" asp-route-id="@note.Id">Редактировать</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@note.Id">Удалить</a>
                </div>
            </div>
        </div>
    </div>
}